NonArbitrary_Precision/Rust/target/
Arbitrary_Precision/CSharp/obj/
Arbitrary_Precision/CSharp/bin
node_modules/
package-lock.json
*.tsbuildinfo
.zed/
.github/
NonArbitrary_Precision/C/build
NonArbitrary_Precision/C++/build
Arbitrary_Precision/CSharp/build
Arbitrary_Precision/Go/build
Arbitrary_Precision/Java/build
Arbitrary_Precision/Kotlin/build